# Ignore SQLite database
db.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# Node modules (if applicable)
node_modules/

# Static files (optional)
static/

# Media files (optional)
media/

# exclude defaults
!media/defaults/


### some sample codes
/api/test_websocket.js
